fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
email-validator
httpx
transformers
sentence-transformers
torch
faiss-cpu
huggingface-hub
pypdf
python-docx
